xmlbeans/test/cases/xbean/scomp/attribute/GlobalAttrDefault.xsd

 <xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://xbean/scomp/attribute/GlobalAttrDefault"
  targetNamespace="http://xbean/scomp/attribute/GlobalAttrDefault"
  >

  <xsd:attribute name="testattribute" type="xsd:string" default="XBeanAttr"/>
  <xsd:attribute name="testattributeInt" type="xsd:integer" default="1"/>

  <xsd:complexType name="GlobalAttrDefaultT">
      <xsd:attribute ref="testattribute" />
      <xsd:attribute ref="testattributeInt" />
  </xsd:complexType>

  <xsd:element name="GlobalAttrDefaultDoc" type="GlobalAttrDefaultT"/>
</xsd:schema>