src/poi-trunk/xmlbeans/test/cases/xbean/tools/inst2xsd/schema/namespaces/duplicatedNS_vb0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlbeans.apache.org/inst2xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a" type="ins:aType" xmlns:ins="http://xmlbeans.apache.org/inst2xsd"/>
  <xs:complexType name="aType">
    <xs:sequence>
      <xs:element type="xs:string" name="b" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:byte" name="c" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="ins:aType" name="a" minOccurs="0" xmlns:ins="http://xmlbeans.apache.org/inst2xsd"/>
      <xs:element type="xs:string" name="d" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:string" name="e" maxOccurs="unbounded" minOccurs="0" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>