xmlbeans/test/cases/xbean/compile/scomp/incr/incr2-1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="tnsrecord" xmlns:p="tnsperson">
    <xs:import namespace="tnsperson"/>
    <xs:complexType name="record">
        <xs:sequence>
            <xs:element name="person" type="p:person"/>
            <xs:element name="info" type="xs:string"/>
            <xs:element name="recordid" type="xs:integer"/>
        </xs:sequence>    
    </xs:complexType>
</xs:schema>
