xmlbeans/test/cases/xbean/compile/scomp/incr/incr2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="tnsrecord" xmlns:p="tnsperson">
    <xs:import namespace="tnsperson" schemaLocation="incr1.xsd"/>
    <xs:complexType name="record">
        <xs:sequence>
            <xs:element name="person" type="p:person"/>
            <xs:element name="info" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
