src/poi-trunk/xmlbeans/test/cases/xbean/tools/inst2xsd/options/base_ss_scs_eN0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="baseNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="c" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="a">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bas:b" xmlns:bas="baseNamespace"/>
        <xs:element ref="bas:c" xmlns:bas="baseNamespace"/>
        <xs:element ref="bas:d" xmlns:bas="baseNamespace"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="b" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="d" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
</xs:schema>