xmlbeans/test/cases/xbean/scomp/substGroup/UserAbstract.xsd

<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://xbean/scomp/substGroup/UserAbstract"
    targetNamespace="http://xbean/scomp/substGroup/UserAbstract"
    >

    <xsd:complexType name="AbstractFoo" abstract="true"/>
    <xsd:complexType name="GenericFoo">
        <xsd:complexContent>
            <xsd:extension base="AbstractFoo"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Bar">
        <xsd:sequence>
            <xsd:element name="foo" type="AbstractFoo" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="Root" type="Bar"/>

</xsd:schema>