xmlbeans/test/cases/xbean/tools/inst2xsd/schema/examples/cdcatalog_ss0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TITLE" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="ARTIST" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="COUNTRY" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="COMPANY" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="PRICE" type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="YEAR" type="xs:short" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="CD">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TITLE"/>
        <xs:element ref="ARTIST"/>
        <xs:element ref="COUNTRY"/>
        <xs:element ref="COMPANY"/>
        <xs:element ref="PRICE"/>
        <xs:element ref="YEAR"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CATALOG">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CD" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>