xmlbeans/test/cases/xbean/tools/inst2xsd/schema/examples/html_example_ss0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="span">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:attribute type="xs:string" name="datafld" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="td">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="span"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tr">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="td" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xml">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:attribute type="xs:string" name="id"/>
          <xs:attribute type="xs:string" name="src"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tr"/>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="border" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:attribute type="xs:string" name="datasrc" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="xml"/>
        <xs:element ref="table"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="html">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="body"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>