xmlbeans/test/cases/xbean/tools/inst2xsd/schema/examples/html_example_vb0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="html" type="htmlType"/>
  <xs:complexType name="xmlType">
    <xs:simpleContent>
      <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="src"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="spanType">
    <xs:simpleContent>
      <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:attribute type="xs:string" name="datafld" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="tdType">
    <xs:sequence>
      <xs:element type="spanType" name="span"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trType">
    <xs:sequence>
      <xs:element type="tdType" name="td" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tableType">
    <xs:sequence>
      <xs:element type="trType" name="tr"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="border" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    <xs:attribute type="xs:string" name="datasrc" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </xs:complexType>
  <xs:complexType name="bodyType">
    <xs:sequence>
      <xs:element type="xmlType" name="xml"/>
      <xs:element type="tableType" name="table"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="htmlType">
    <xs:sequence>
      <xs:element type="bodyType" name="body"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>