xmlbeans/test/cases/xbean/tools/inst2xsd/schema/examples/sampleRss092_ss0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description"/>
        <xs:element ref="enclosure" minOccurs="0"/>
        <xs:element ref="source" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rss">
    <xs:annotation>
      <xs:documentation>RSS generation done by 'Radio UserLand' on Fri, 13 Apr 2001 19:23:02 GMT</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="channel"/>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="enclosure">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:attribute type="xs:anyURI" name="url" use="optional"/>
          <xs:attribute type="xs:int" name="length" use="optional"/>
          <xs:attribute type="xs:string" name="type" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="title" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="link" type="xs:anyURI" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="webMaster" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="cloud">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:attribute type="xs:string" name="domain"/>
          <xs:attribute type="xs:byte" name="port"/>
          <xs:attribute type="xs:string" name="path"/>
          <xs:attribute type="xs:string" name="registerProcedure"/>
          <xs:attribute type="xs:string" name="protocol"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="managingEditor" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="docs" type="xs:anyURI" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="description" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="lastBuildDate" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="source">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:attribute type="xs:anyURI" name="url" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="channel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="link"/>
        <xs:element ref="description"/>
        <xs:element ref="lastBuildDate"/>
        <xs:element ref="docs"/>
        <xs:element ref="managingEditor"/>
        <xs:element ref="webMaster"/>
        <xs:element ref="cloud"/>
        <xs:element ref="item" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>