xmlbeans/test/cases/xbean/tools/inst2xsd/schema/examples/slashdotxml_rd0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="backslash">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="story" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title">
                <xs:simpleType>
                  <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:enumeration value="Gene Doping: Genetically Engineered Athletes"/>
                    <xs:enumeration value="Microsoft Windows: A Lower Total Cost of 0wnership"/>
                    <xs:enumeration value="Speculation About An Apple Tablet"/>
                    <xs:enumeration value="Student Killed Driving Solar Car"/>
                    <xs:enumeration value="Digital Radio With Removable Flash Storage"/>
                    <xs:enumeration value="Nvidia 6600 Series Examined"/>
                    <xs:enumeration value="Open Source in California Government"/>
                    <xs:enumeration value="Spam's U.S. Roots"/>
                    <xs:enumeration value="Human-powered Helicopter Fails to Lift Off"/>
                    <xs:enumeration value="BBC Begins Open-Source Streaming Challenge"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="url">
                <xs:simpleType>
                  <xs:restriction base="xs:anyURI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1819223"/>
                    <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1621253"/>
                    <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1614232"/>
                    <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1416254"/>
                    <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1353247"/>
                    <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1341237"/>
                    <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1317236"/>
                    <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/132224"/>
                    <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1225238"/>
                    <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/128249"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="time">
                <xs:simpleType>
                  <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:enumeration value="2004-08-13 19:35:00"/>
                    <xs:enumeration value="2004-08-13 18:49:00"/>
                    <xs:enumeration value="2004-08-13 18:02:00"/>
                    <xs:enumeration value="2004-08-13 17:18:00"/>
                    <xs:enumeration value="2004-08-13 16:35:00"/>
                    <xs:enumeration value="2004-08-13 15:51:00"/>
                    <xs:enumeration value="2004-08-13 15:05:00"/>
                    <xs:enumeration value="2004-08-13 14:22:00"/>
                    <xs:enumeration value="2004-08-13 13:36:00"/>
                    <xs:enumeration value="2004-08-13 12:50:00"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="author" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
              <xs:element name="department">
                <xs:simpleType>
                  <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:enumeration value="mickey-mouse-olympics"/>
                    <xs:enumeration value="you-go-girl"/>
                    <xs:enumeration value="lifeblood-of-the-apple-world"/>
                    <xs:enumeration value="unfortunate-firsts"/>
                    <xs:enumeration value="sweetness"/>
                    <xs:enumeration value="arm-and-a-leg"/>
                    <xs:enumeration value="economy-larger-than-most-nations"/>
                    <xs:enumeration value="part-of-the-problem-not-part-of-the-solution"/>
                    <xs:enumeration value="we've-got-hiiiiiiiiiiigh-hopes"/>
                    <xs:enumeration value="fear-factor"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="topic">
                <xs:simpleType>
                  <xs:restriction base="xs:short" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:enumeration value="191"/>
                    <xs:enumeration value="172"/>
                    <xs:enumeration value="180"/>
                    <xs:enumeration value="99"/>
                    <xs:enumeration value="141"/>
                    <xs:enumeration value="152"/>
                    <xs:enumeration value="103"/>
                    <xs:enumeration value="111"/>
                    <xs:enumeration value="126"/>
                    <xs:enumeration value="188"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="comments">
                <xs:simpleType>
                  <xs:restriction base="xs:short" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:enumeration value="19"/>
                    <xs:enumeration value="215"/>
                    <xs:enumeration value="178"/>
                    <xs:enumeration value="558"/>
                    <xs:enumeration value="140"/>
                    <xs:enumeration value="193"/>
                    <xs:enumeration value="340"/>
                    <xs:enumeration value="277"/>
                    <xs:enumeration value="312"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="section" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
              <xs:element type="xs:string" name="image" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>