xmlbeans/test/cases/xbean/tools/inst2xsd/schema/examples/slashdotrdf_rd1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://my.netscape.com/rdf/simple/0.9/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title">
          <xs:simpleType>
            <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
              <xs:enumeration value="Gene Doping: Genetically Engineered Athletes"/>
              <xs:enumeration value="Microsoft Windows: A Lower Total Cost of 0wnership"/>
              <xs:enumeration value="Speculation About An Apple Tablet"/>
              <xs:enumeration value="Student Killed Driving Solar Car"/>
              <xs:enumeration value="Digital Radio With Removable Flash Storage"/>
              <xs:enumeration value="Nvidia 6600 Series Examined"/>
              <xs:enumeration value="Open Source in California Government"/>
              <xs:enumeration value="Spam's U.S. Roots"/>
              <xs:enumeration value="Human-powered Helicopter Fails to Lift Off"/>
              <xs:enumeration value="BBC Begins Open-Source Streaming Challenge"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="link">
          <xs:simpleType>
            <xs:restriction base="xs:anyURI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
              <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1819223"/>
              <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1621253"/>
              <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1614232"/>
              <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1416254"/>
              <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1353247"/>
              <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1341237"/>
              <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1317236"/>
              <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/132224"/>
              <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/1225238"/>
              <xs:enumeration value="http://slashdot.org/article.pl?sid=04/08/13/128249"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="channel">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="title" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element type="xs:anyURI" name="link" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element type="xs:string" name="description" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="textinput">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="title" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element type="xs:string" name="description" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element type="xs:string" name="name" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element type="xs:anyURI" name="link" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="image">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="title" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element type="xs:anyURI" name="url" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element type="xs:anyURI" name="link" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>