xmlbeans/test/cases/xbean/tools/inst2xsd/schema/examples/slashdotrdf_ss1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://my.netscape.com/rdf/simple/0.9/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="title" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns:title" xmlns:ns="http://my.netscape.com/rdf/simple/0.9/"/>
        <xs:element ref="ns:link" xmlns:ns="http://my.netscape.com/rdf/simple/0.9/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="channel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns:title" xmlns:ns="http://my.netscape.com/rdf/simple/0.9/"/>
        <xs:element ref="ns:link" xmlns:ns="http://my.netscape.com/rdf/simple/0.9/"/>
        <xs:element ref="ns:description" xmlns:ns="http://my.netscape.com/rdf/simple/0.9/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="url" type="xs:anyURI" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="description">
    <xs:simpleType>
      <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:enumeration value="News for nerds, stuff that matters"/>
        <xs:enumeration value="Search Slashdot stories"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="name" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="link" type="xs:anyURI" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="textinput">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns:title" xmlns:ns="http://my.netscape.com/rdf/simple/0.9/"/>
        <xs:element ref="ns:description" xmlns:ns="http://my.netscape.com/rdf/simple/0.9/"/>
        <xs:element ref="ns:name" xmlns:ns="http://my.netscape.com/rdf/simple/0.9/"/>
        <xs:element ref="ns:link" xmlns:ns="http://my.netscape.com/rdf/simple/0.9/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="image">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns:title" xmlns:ns="http://my.netscape.com/rdf/simple/0.9/"/>
        <xs:element ref="ns:url" xmlns:ns="http://my.netscape.com/rdf/simple/0.9/"/>
        <xs:element ref="ns:link" xmlns:ns="http://my.netscape.com/rdf/simple/0.9/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>