xmlbeans/test/cases/xbean/tools/inst2xsd/schema/examples/xmlnews_ss0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bytag" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="nitf">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="head"/>
        <xs:element ref="body"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="title" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="hl1" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="head">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dateline">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="location"/>
        <xs:element ref="story.date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="byline">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bytag"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="body.head">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="headline"/>
        <xs:element ref="byline"/>
        <xs:element ref="dateline"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="location" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="body.head"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="headline">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hl1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="story.date" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
</xs:schema>