xmlbeans/test/cases/xbean/tools/inst2xsd/schema/examples/xmlnews_vb0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nitf" type="nitfType"/>
  <xs:complexType name="nitfType">
    <xs:sequence>
      <xs:element type="headType" name="head"/>
      <xs:element type="bodyType" name="body"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bylineType">
    <xs:sequence>
      <xs:element type="xs:string" name="bytag" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="headType">
    <xs:sequence>
      <xs:element type="xs:string" name="title" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bodyType">
    <xs:sequence>
      <xs:element type="body.headType" name="body.head"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="datelineType">
    <xs:sequence>
      <xs:element type="xs:string" name="location" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:string" name="story.date" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="headlineType">
    <xs:sequence>
      <xs:element type="xs:string" name="hl1" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="body.headType">
    <xs:sequence>
      <xs:element type="headlineType" name="headline"/>
      <xs:element type="bylineType" name="byline"/>
      <xs:element type="datelineType" name="dateline"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>