xmlbeans/test/cases/xbean/tools/inst2xsd/schema/examples/xsl_rd1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="html">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="table">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="th" maxOccurs="unbounded" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:enumeration value="Title"/>
                                <xs:enumeration value="Artist"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element ref="xsl:for-each" xmlns:xsl="http://www.w3.org/TR/xsl"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="border" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                  <xs:attribute type="xs:string" name="bgcolor" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tr">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="td" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xsl:value-of" xmlns:xsl="http://www.w3.org/TR/xsl"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>