xmlbeans/test/cases/xbean/tools/inst2xsd/schema/examples/xsl_vb1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="html" type="htmlType"/>
  <xs:element name="tr" type="trType"/>
  <xs:complexType name="htmlType">
    <xs:sequence>
      <xs:element type="bodyType" name="body"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trType">
    <xs:sequence>
      <xs:element name="th" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:enumeration value="Title"/>
            <xs:enumeration value="Artist"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="tdType" name="td" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bodyType">
    <xs:sequence>
      <xs:element type="tableType" name="table"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tdType">
    <xs:sequence>
      <xs:element ref="xsl:value-of" xmlns:xsl="http://www.w3.org/TR/xsl"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tableType">
    <xs:sequence>
      <xs:element type="trType" name="tr"/>
      <xs:element ref="xsl:for-each" xmlns:xsl="http://www.w3.org/TR/xsl"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="border" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    <xs:attribute type="xs:string" name="bgcolor" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </xs:complexType>
</xs:schema>