xmlbeans/test/cases/xbean/simple/dumb/sub/bar.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="barNS"
        targetNamespace="barNS"
        elementFormDefault="qualified">

    <xs:attribute name="a" type="xs:integer" />
    <xs:attribute name="b" type="xs:integer" />
    <xs:attribute name="c" type="xs:integer" />

</xs:schema>
