xmlbeans/test/cases/xbean/scomp/derivation/AttributeUseProhibited.xsd

<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://xbean/scomp/derivation/AttributeUseProhibited"
    targetNamespace="http://xbean/scomp/derivation/AttributeUseProhibited"
    xmlns:at="http://xbean/scomp/attribute/LocalAttrUse"
    >

    <xsd:complexType name="AttrUseProhibited">
        <xsd:complexContent>
            <xsd:restriction base="at:LocalAttrUseT">
                 <xsd:attribute name="attOpt" type="xsd:string" use="prohibited"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="AttrProhibitedElt" type="AttrUseProhibited"/>
</xsd:schema>