src/poi-trunk/xmlbeans/test/cases/xbean/tools/inst2xsd/schema/simpleName_vb0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="name" type="nameType"/>
  <xs:complexType name="nameType">
    <xs:sequence>
      <xs:element type="xs:string" name="first" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:string" name="last" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>