xmlbeans/test/cases/xbean/tools/inst2xsd/schema/complex/sample/choice_rd1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="choiceInstance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="b">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="c">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:byte" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                      <xs:attribute type="xs:string" name="x"/>
                      <xs:attribute ref="baz:x" xmlns:baz="baz"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="n" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:attribute ref="baz:n" xmlns:baz="baz"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="e">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="c">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                      <xs:attribute ref="baz:n" xmlns:baz="baz"/>
                      <xs:attribute ref="baz:x" xmlns:baz="baz"/>
                      <xs:attribute type="xs:byte" name="n"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute ref="baz:x" xmlns:baz="baz"/>
            <xs:attribute ref="baz:n" xmlns:baz="baz"/>
            <xs:attribute type="xs:string" name="x" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="f">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:string" name="c" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
            <xs:attribute ref="baz:n" xmlns:baz="baz"/>
            <xs:attribute ref="baz:x" xmlns:baz="baz"/>
            <xs:attribute type="xs:string" name="x" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="baz:n" xmlns:baz="baz"/>
      <xs:attribute ref="baz:x" xmlns:baz="baz"/>
      <xs:attribute type="xs:byte" name="n" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:complexType>
  </xs:element>
</xs:schema>