xmlbeans/test/cases/xbean/scomp/element/GlobalEltDefault.xsd

 <xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://xbean/scomp/element/GlobalEltDefault"
  targetNamespace="http://xbean/scomp/element/GlobalEltDefault"
  >

  <xsd:element name="GlobalEltDefaultStr" type="xsd:string" default="EMPTY"/>
  <xsd:element name="GlobalEltDefaultInt" type="xsd:int" default="0"/>

  <xsd:element name="IDElement">
      <xsd:complexType>
          <xsd:attribute name="ID" type="xsd:ID"/>
      </xsd:complexType>
  </xsd:element>

</xsd:schema>