xmlbeans/test/cases/xbean/xmltokensource/PrettyPrintNamespaceTest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mtest.com"
           xmlns:tns="http://www.mtest.com" elementFormDefault="qualified">

 <xs:element name="Test" type="tns:Info"/>

 <xs:complexType name="Info">
  <xs:sequence>
   <xs:element name="desc" type="xs:string" default="whoolaboo" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="SubInfo">
  <xs:complexContent>
   <xs:extension base="tns:Info">
    <xs:sequence>
      <xs:element name="subdesc" type="xs:string" default="pingpong" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>

</xs:schema>
