src/poi-trunk/xmlbeans/test/cases/xbean/scomp/attribute/LocalAttrFixedDefault.xsd

<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://xbean/scomp/attribute/LocalAttrFixedDefault"
  targetNamespace="http://xbean/scomp/attribute/LocalAttrFixedDefault"
  >

  <xsd:attribute name="attFixed" type="xsd:string" fixed="XBeanAttrStr"/>
  <xsd:attribute name="attDefault" type="xsd:integer" default="1"/>

  <xsd:complexType name="LocalAttrFixedDefaultT">
      <xsd:attribute ref="attFixed"/>
      <xsd:attribute ref="attDefault" default="2"/>
  </xsd:complexType>

  <xsd:element name="LocalAttrFixedDefault" type="LocalAttrFixedDefaultT"/>
</xsd:schema>