xmlbeans/test/cases/xbean/tools/inst2xsd/schema/complex/nestedNSArray/nestedArray_vb3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="b" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="b" type="b:bType" xmlns:b="b"/>
  <xs:complexType name="bType" mixed="true">
    <xs:sequence>
      <xs:element ref="c:c" xmlns:c="c"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="c" use="optional" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </xs:complexType>
</xs:schema>