xmlbeans/test/cases/xbean/tools/inst2xsd/schema/complex/enum/enum2_ss0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="d">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="c"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="a">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b"/>
        <xs:element ref="d" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="c">
    <xs:simpleType>
      <xs:restriction base="xs:QName" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:enumeration value="foo:baz" xmlns:foo="http://foo"/>
        <xs:enumeration value="baz:foo" xmlns:baz="http://baz"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="b">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="c"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>