xmlbeans/test/cases/xbean/tools/inst2xsd/schema/types/comments_vb0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="comments" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a" type="com:aType" xmlns:com="comments">
    <xs:annotation>
      <xs:documentation>final comment</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="aType">
    <xs:sequence>
      <xs:element type="xs:string" name="b">
        <xs:annotation>
          <xs:documentation>this is a comment 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:int" name="c">
        <xs:annotation>
          <xs:documentation>this is a comment 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="d">
        <xs:annotation>
          <xs:documentation>this is a comment 4  this is a comment 5</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:short" name="e">
        <xs:annotation>
          <xs:documentation>this is a comment 6</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="f">
        <xs:annotation>
          <xs:documentation>this is a comment 7  this is a comment 8</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>