xmlbeans/test/cases/xbean/tools/inst2xsd/schema/types/innercomment_vb0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a" type="aType"/>
  <xs:complexType name="aType">
    <xs:sequence>
      <xs:element type="xs:int" name="c" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
          <xs:documentation>this is a comment 6</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>