xmlbeans/test/cases/xbean/tools/inst2xsd/schema/types/person_vb0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="schema" type="xs:schemaType" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:complexType name="schemaType">
    <xs:sequence>
      <xs:element type="xs:elementType" name="element" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:complexTypeType" name="complexType" maxOccurs="unbounded" minOccurs="0" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="targetNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </xs:complexType>
  <xs:complexType name="complexTypeType">
    <xs:sequence>
      <xs:element type="xs:sequenceType" name="sequence" minOccurs="0" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:complexContentType" name="complexContent" maxOccurs="unbounded" minOccurs="0" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </xs:complexType>
  <xs:complexType name="complexContentType">
    <xs:sequence>
      <xs:element type="xs:extensionType" name="extension" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elementType">
    <xs:simpleContent>
      <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:QName" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sequenceType">
    <xs:sequence>
      <xs:element type="xs:elementType" name="element" maxOccurs="unbounded" minOccurs="0" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extensionType">
    <xs:sequence>
      <xs:element type="xs:sequenceType" name="sequence" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
    <xs:attribute type="xs:QName" name="base" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </xs:complexType>
</xs:schema>