xmlbeans/test/cases/xbean/tools/inst2xsd/schema/types/unicode_rd0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="note">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="from" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element type="xs:string" name="to" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element type="xs:string" name="message" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>