xmlbeans/test/cases/xbean/tools/inst2xsd/schema/complex/choice/attrchoice_ss1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://baz" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="baz:c" xmlns:baz="http://baz"/>
        <xs:element ref="foo:d" xmlns:foo="http://foo"/>
        <xs:element ref="foo:c" xmlns:foo="http://foo"/>
        <xs:element ref="baz:d" xmlns:baz="http://baz"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="d">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:attribute ref="foo:b" xmlns:foo="http://foo"/>
          <xs:attribute type="xs:byte" name="n" use="optional"/>
          <xs:attribute type="xs:byte" name="a" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:attribute type="xs:byte" name="x"/>
          <xs:attribute type="xs:byte" name="a"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="b" type="xs:byte" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
</xs:schema>