xmlbeans/test/cases/xbean/tools/inst2xsd/schema/complex/choice/simplechoice_rd0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="c" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element type="xs:string" name="d" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>