xmlbeans/test/cases/xbean/tools/inst2xsd/schema/complex/choice/simplechoice_ss0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="d" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="a">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="c"/>
        <xs:element ref="d"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="c" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
</xs:schema>