xmlbeans/test/cases/xbean/xmlcursor/CR196679.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified" 
    targetNamespace="http://xbean.test/xmlcursor/CR196679"
    xmlns:ns="http://xbean.test/xmlcursor/CR196679">

  <xs:element name="test" type="ns:testType"/>

  <xs:complexType name="testType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
