xmlbeans/test/cases/xbean/tools/inst2xsd/schema/namespaces/duplicatedNS_ss0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlbeans.apache.org/inst2xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="d" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="b" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="c" type="xs:byte" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="a">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ins:b" xmlns:ins="http://xmlbeans.apache.org/inst2xsd"/>
        <xs:element ref="ins:c" xmlns:ins="http://xmlbeans.apache.org/inst2xsd"/>
        <xs:element ref="ins:a" minOccurs="0" xmlns:ins="http://xmlbeans.apache.org/inst2xsd"/>
        <xs:element ref="ins:d" xmlns:ins="http://xmlbeans.apache.org/inst2xsd"/>
        <xs:element ref="ins:e" maxOccurs="unbounded" minOccurs="0" xmlns:ins="http://xmlbeans.apache.org/inst2xsd"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="e" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
</xs:schema>