xmlbeans/test/cases/xbean/tools/inst2xsd/schema/namespaces/multipleNS_vb3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlbeans.apache.org/inst2xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a" type="ins:aType" xmlns:ins="http://xmlbeans.apache.org/inst2xsd"/>
  <xs:complexType name="aType">
    <xs:sequence>
      <xs:element ref="a:b" xmlns:a="http://xmlbeans.apache.org/a"/>
      <xs:element ref="b:c" xmlns:b="http://xmlbeans.apache.org/b"/>
      <xs:element ref="c:d" xmlns:c="http://xmlbeans.apache.org/c"/>
      <xs:element type="xs:string" name="d" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>