src/poi-trunk/xmlbeans/test/cases/xbean/misc/jira/xmlbeans_45a.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://xmlbeans_45" targetNamespace="http://xmlbeans_45">
 <xs:complexType name="personName">
  <xs:sequence>
   <xs:element name="title" minOccurs="0"/>
   <xs:element name="forename" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:element name="addressee" type="tns:personName"/>
 </xs:schema>  