src/poi-trunk/xmlbeans/test/cases/xbean/misc/jira/xmlbeans_97.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://jira/xmlbeans98"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://jira/xmlbeans98"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xs:element name="childElement" type="childType"/>

    <xs:complexType name="childType">
		<xs:attribute name="qualified-data" type="xs:QName" use="required"/>
	</xs:complexType>

    <xs:element name="a-root">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="a-child" type="childType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
