src/poi-trunk/xmlbeans/test/cases/xbean/tools/inst2xsd/schema/complex/enum/enum2_rd0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="b">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:QName" name="c" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="d" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:QName" name="c" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>