xmlbeans/test/cases/xbean/compile/scomp/simple/simplec.xsd

<xs:schema
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:mt="http://openuri.org/mytest"
   targetNamespace="http://openuri.org/mytest"
   elementFormDefault="qualified"
   attributeFormDefault="unqualified"
>

  <xs:complexType name="simplicity">
    <xs:simpleContent>
     <xs:extension base="mt:thousand">
       <xs:attribute name="note" type="xs:string"/>
     </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="thousand">
   <xs:restriction base="xs:integer">
     <xs:minInclusive value="1"/>
     <xs:maxInclusive value="1000"/>
   </xs:restriction>
  </xs:simpleType>

  <xs:element name="simple" type="mt:simplicity"/>

</xs:schema>

