src/poi-trunk/xmlbeans/test/cases/xbean/tools/inst2xsd/schema/examples/cd_catalog_vb0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CATALOG" type="CATALOGType">
    <xs:annotation>
      <xs:documentation>Edited with XML Spy v4.2</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CDType">
    <xs:sequence>
      <xs:element type="xs:string" name="TITLE" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:string" name="ARTIST" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="COUNTRY">
        <xs:simpleType>
          <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:enumeration value="USA"/>
            <xs:enumeration value="UK"/>
            <xs:enumeration value="EU"/>
            <xs:enumeration value="Norway"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="COMPANY" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:float" name="PRICE" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:short" name="YEAR" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CATALOGType">
    <xs:sequence>
      <xs:element type="CDType" name="CD" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>