src/poi-trunk/xmlbeans/test/cases/xbean/tools/inst2xsd/schema/examples/schema0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rss" type="rssType">
    <xs:annotation>
      <xs:documentation>RSS generation done by 'Radio UserLand' on Fri, 13 Apr 2001 19:23:02 GMT</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="rssType">
    <xs:sequence>
      <xs:element type="channelType" name="channel"/>
    </xs:sequence>
    <xs:attribute type="xs:float" name="version" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </xs:complexType>
  <xs:complexType name="channelType">
    <xs:sequence>
      <xs:element type="xs:QName" name="title" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:anyURI" name="link" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:string" name="description" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:string" name="lastBuildDate" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:anyURI" name="docs" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:string" name="managingEditor" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:string" name="webMaster" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="cloudType" name="cloud"/>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enclosureType">
    <xs:simpleContent>
      <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:attribute type="xs:anyURI" name="url" use="optional"/>
        <xs:attribute type="xs:int" name="length" use="optional"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element type="xs:string" name="description" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="enclosureType" name="enclosure" minOccurs="0"/>
      <xs:element type="sourceType" name="source" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sourceType">
    <xs:simpleContent>
      <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:attribute type="xs:anyURI" name="url" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="cloudType">
    <xs:simpleContent>
      <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:attribute type="xs:string" name="domain"/>
        <xs:attribute type="xs:byte" name="port"/>
        <xs:attribute type="xs:string" name="path"/>
        <xs:attribute type="xs:string" name="registerProcedure"/>
        <xs:attribute type="xs:string" name="protocol"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>