src/poi-trunk/xmlbeans/test/cases/xbean/tools/inst2xsd/schema/examples/xsl_vb0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/TR/xsl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="stylesheet" type="xsl:stylesheetType" xmlns:xsl="http://www.w3.org/TR/xsl"/>
  <xs:element name="for-each" type="xsl:for-eachType" xmlns:xsl="http://www.w3.org/TR/xsl"/>
  <xs:element name="value-of" type="xsl:value-ofType" xmlns:xsl="http://www.w3.org/TR/xsl"/>
  <xs:complexType name="for-eachType">
    <xs:sequence>
      <xs:element ref="tr"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="select" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </xs:complexType>
  <xs:complexType name="stylesheetType">
    <xs:sequence>
      <xs:element type="xsl:templateType" name="template" xmlns:xsl="http://www.w3.org/TR/xsl"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="templateType">
    <xs:sequence>
      <xs:element ref="html"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="match" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </xs:complexType>
  <xs:complexType name="value-ofType">
    <xs:simpleContent>
      <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:attribute type="xs:string" name="select" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>