xmlbeans/test/cases/xbean/xmlobject/CR192525.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://openuri.org/bea/samples/workshop" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="credit-card-data" type="wor:credit-card-dataType" xmlns:wor="http://openuri.org/bea/samples/workshop"/>
  <xs:complexType name="cardType">
    <xs:sequence>
      <xs:element type="xs:byte" name="available-credit" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:byte" name="credit-used" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    <xs:attribute type="xs:string" name="number" use="optional" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </xs:complexType>
  <xs:complexType name="customerType">
    <xs:sequence>
      <xs:element type="wor:cardType" name="card" maxOccurs="unbounded" minOccurs="0" xmlns:wor="http://openuri.org/bea/samples/workshop"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="id" use="optional" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </xs:complexType>
  <xs:complexType name="credit-card-dataType">
    <xs:sequence>
      <xs:element type="wor:customerType" name="customer" maxOccurs="unbounded" minOccurs="0" xmlns:wor="http://openuri.org/bea/samples/workshop"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>