xmlbeans/test/cases/xbean/xmlobject/version3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://openuri.org/versionstest"
    xmlns:tns="http://openuri.org/versionstest">

  <xs:redefine schemaLocation="version2.xsddonotcompile">
    <xs:complexType name="typeX">
      <xs:complexContent>
        <xs:extension base="tns:typeX">
          <xs:sequence>
            <xs:element name="c" type="xs:string"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:redefine>

  <xs:element name="element" type="tns:typeX"/>

</xs:schema>
