src/poi-trunk/xmlbeans/test/cases/xbean/compile/scomp/pricequote/PriceQuote.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="price-quote">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="stock-symbol" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="stock-price" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!-- XXXSJM change following to use refined datatypes -->
    <xsd:element name="stock-symbol" type="xsd:string"/>
    <xsd:element name="stock-price" type="xsd:string"/>
</xsd:schema>

