xmlbeans/test/cases/xbean/tools/inst2xsd/options/base_vb_scs_eN0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="baseNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a" type="bas:aType" xmlns:bas="baseNamespace"/>
  <xs:complexType name="aType">
    <xs:sequence>
      <xs:element type="xs:string" name="b" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:string" name="c" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:string" name="d" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>