xmlbeans/test/cases/xbean/misc/jira/xmlbeans_48.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://xmlbeans_48"
    targetNamespace="http://xmlbeans_48"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:complexType name="FeedInfoType">
        <xs:sequence>
            <xs:element name="Location" type="xs:anyURI"/>
            <xs:element name="EnteredTime" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Feed" type="tns:FeedInfoType"/>
</xs:schema>