xmlbeans/test/cases/xbean/misc/jira/xmlbeans_45b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://xmlbeans_45" targetNamespace="http://xmlbeans_45">
<xs:redefine schemaLocation="xmlbeans_45a.xsd">
  <xs:complexType name="personName">
   <xs:complexContent>
    <xs:extension base="tns:personName">
     <xs:sequence>
      <xs:element name="generation" minOccurs="0"/>
     </xs:sequence>
    </xs:extension>
   </xs:complexContent>
  </xs:complexType>
 </xs:redefine>

 <xs:element name="author" type="tns:personName"/>
</xs:schema>
