xmlbeans/test/cases/xbean/misc/jira/xmlbeans_71.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://abc" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <element name="BazResponse">
        <complexType>
            <sequence>
                <element name="Status" type="string"/>
                <element name="ErrorMsg" type="string" nillable="true"/>
                <element name="SQLStatus" type="int"/>
                <element name="ErrorCode" type="int"/>
            </sequence>
        </complexType>
    </element>
</schema>