xmlbeans/test/cases/xbean/tools/inst2xsd/schema/complex/global/globalattr_vb1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="bar" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a" type="bar:aType" xmlns:bar="bar"/>
  <xs:complexType name="bType">
    <xs:simpleContent>
      <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:attribute ref="baz:attExample" xmlns:baz="http://baz"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="dType">
    <xs:simpleContent>
      <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:attribute ref="baz:attExample" xmlns:baz="http://baz"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="aType">
    <xs:sequence>
      <xs:element type="bar:bType" name="b" xmlns:bar="bar"/>
      <xs:element type="xs:string" name="c" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="bar:dType" name="d" xmlns:bar="bar"/>
    </xs:sequence>
    <xs:attribute ref="baz:attExample" xmlns:baz="http://baz"/>
  </xs:complexType>
</xs:schema>