xmlbeans/test/cases/xbean/tools/inst2xsd/schema/complex/global/globalattr_ss1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="bar" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bar:b" xmlns:bar="bar"/>
        <xs:element ref="bar:c" xmlns:bar="bar"/>
        <xs:element ref="bar:d" xmlns:bar="bar"/>
      </xs:sequence>
      <xs:attribute ref="baz:attExample" xmlns:baz="http://baz"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="c" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="b">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:attribute ref="baz:attExample" xmlns:baz="http://baz"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="d">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:attribute ref="baz:attExample" xmlns:baz="http://baz"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>