xmlbeans/test/cases/xbean/simple/dupSchemaElements/viewtarget.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Data View Builder 1.0. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:element name="result">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="broadband" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ORDER_ID" type="xsd:string"/>
							<xsd:element name="TOTAL_ORDER_AMOUNT" type="xsd:decimal"/>
							<xsd:element name="CUSTOMER_ID" type="xsd:string"/>
							<xsd:element name="FIRST_NAME" type="xsd:string"/>
							<xsd:element name="LAST_NAME" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="wireless" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ORDER_ID" type="xsd:string"/>
							<xsd:element name="TOTAL_ORDER_AMOUNT" type="xsd:decimal"/>
							<xsd:element name="CUSTOMER_ID" type="xsd:string"/>
							<xsd:element name="FIRST_NAME" type="xsd:string"/>
							<xsd:element name="LAST_NAME" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>