xmlbeans/test/cases/xbean/scomp/redefine/AttrRedefineSuper.xsd

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://xbean/scomp/redefine/AttrGroupRedefine"
    targetNamespace="http://xbean/scomp/redefine/AttrGroupRedefine"
    >

    <xs:redefine schemaLocation="BaseAttrGroup.xs">
        <xs:attributeGroup name="AttrGroup">
            <xs:attribute name="attr1" type="xs:string"/>
            <xs:attribute name="attr2a" type="xs:date"/>
            <xs:attribute name="attr3" type="xs:int"/>
        </xs:attributeGroup>
    </xs:redefine>

    <xs:element name="AttrGroupElt">
        <xs:complexType>
            <xs:attributeGroup ref="AttrGroup"/>
        </xs:complexType>
    </xs:element>
</xs:schema>