xmlbeans/test/cases/xbean/scomp/contentType/builtInTypes/StringBased.xsd

<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://xbean/scomp/contentType/builtIn/String"
    targetNamespace="http://xbean/scomp/contentType/builtIn/String"
    elementFormDefault="qualified"
    >


    <xsd:element name="StringElt" type="xsd:string"/>
    <xsd:element name="NormalizedStringElt" type="xsd:normalizedString"/>
    <xsd:element name="TokenElt" type="xsd:token"/>

    <xsd:element name="NameElt" type="xsd:Name"/>
    <xsd:element name="LanguageElt" type="xsd:language"/>
    <xsd:element name="NCNameElt" type="xsd:NCName"/>
</xsd:schema>
